<div class="expanded">
    <div class="col-md-6">
        <div>
            <label>DEA Number</label>
            <span>{{deaNumber}}</span>
        </div>
        <div>
            <label>NPI</label>
            <span>{{npi}}</span>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <label>Expiration Date</label>
            <span>{{expirationDate}}</span>
        </div>
        <div>
            <label>Provider ID</label>
            <span>{{providerId}}</span>
        </div>
    </div>
</div>